
body {
  font-family: 'Bebas Neue', cursive;
}

.form-control-file {
  color : rgba(0,0,0,.3)!important;
}

#file-upload-button {
  background-color: rgba(255, 255, 255, 0.2) !important ;
}


.container-login {
 margin-left: 30px;
}

.btn-create-game {
  margin-left: 98px;
}

.upload-photo {
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  color: white;
  text-decoration: underline;
}

.upload-photo:hover{
  color: rgb(237,97,97);
  text-decoration: none;
}

.modal-content {
  color: black;
}

.modal-header h5 {
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
}

#text {
  color: black;
}

.button-new-game-close {
  color: rgba(0,0,0,.3);
  border: 0px solid transparent;
}

.button-new-game-create {
  color: rgb(237,97,97);
  border: 0px solid transparent;
}

.upload-photo {

}

