// Specific CSS for your home-page
@import "./../components/searchbar";
@import "../components/map";


#container {
  padding: 50px;
}

body {
  background: linear-gradient(#200122, #6f0000);
  min-height: 100vh;
  color: white;
}


h2, h1 {
  color: white;
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 60px;
}

.typed-title {
  width: 48%;
  margin-top: 20px;
}

.nav-link {
  color: white !important;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}


.nav-link-light {
  color: rgba(255, 255, 255,0.5) !important;
  padding: 0.5rem 1rem;
  display: block;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

.dropdown-item {
  font-family: 'Bebas Neue';
  color: white;

}

.dropdown-menu {
  background: rgba(0,0,0,0.1);
}

.container-new {
  padding: 30px;
  text-align: center;
}

a:hover {
  color: #ed6161 !important;
}

.nav-item button {
  background-color: transparent !important;
  border: 0px solid transparent;
}

.nav-item button:hover {
  color: rgb(237,97,97)!important;
}



