
#new_user {
}

#container-login {
  width: 300px;
}

.container {
}

.btn {
  padding: 2px, 4px !important;
}

a {
  color: white;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none !important;
}

.email, .form-control,.password {
  font-family: 'Bebas Neue', cursive;
}

.form-control {
  font-family: 'Bebas Neue', cursive;
}

.password {
  font-family: 'Bebas Neue', cursive;
}

.hbtn {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      padding: 8px 20px;
      margin: 0px 3px 6px;
      text-align: center;
      border: 2px solid rgb(255, 255, 255);
      text-decoration: none;
      color: rgb(255, 255, 255);
      white-space: nowrap;
      z-index: 0;
}


.hb-fill-on::before {
      position: absolute;
      content: "";
      background-color: rgb(255, 255, 255);
      transition-duration: 0.3s;
      z-index: -1;
      top: 0px;
      right: auto;
      bottom: auto;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-position: initial initial;
      background-repeat: initial initial;
}


.hb-fill-on:hover::before {
      width: 100%;
      height: 100%;
      opacity: 1;
}


.hb-fill-on:hover {
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      transition: color 0.3s ease, background 0s ease 0.3s;
      background-position: initial initial;
      background-repeat: initial initial;
}

.form-check-label {
   font-family: 'Bebas Neue', cursive;
   opacity: 0.5;
}


