.container-reservations {
  padding-left: 20px;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}

.container-rent {
  padding: 30px;
}

.container-new-reservation {
  width: 600px;
}


.card-reservation {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-reservation img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-reservation h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-reservation p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-reservation .card-reservation-infos {
  padding: 16px;
}
