.big-container {
  padding: 20px;
  display: flex;
  min-height: 800px;
}

.img-show img {
  width: 100%;
}
.show-img {
  text-align: center;
}

.show-reservation {
  text-align: center;
}

.show-back {
  text-align: right;
}

.container-map {
  text-align: center;
}

#map {
   border: 2px solid black;
   box-shadow: 0 1px 2px rgba(255,255,255,0.2);
}

.owner {
}

.owner a {
  text-decoration: underline !important;
}

.review {
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 12px;
}

.review .review-content {
  flex-grow: 1;
  padding: 0 24px;
}

.review-content p {
}

li {
}

.review p {
  margin: 0;
  line-height: 1.4;
}

.carousel-inner {
  width: 100%;
  max-height: 500px !important;
}

.carousel-control-prev {
  background: transparent;
  border: 0px solid transparent;
}

.carousel-control-next {
  background: transparent;
  border: 0px solid transparent;
}

img {
  border-radius: 7px;
}
