
.big-container{
  padding: 20px;
  display: flex;
}

.img-show img {
  width: 100%;
}
.show-img {
  text-align: center;
}

.show-reservation {
  text-align: center;
}

.show-back {
  text-align: right;
}

.container-map {
text-align: center;
}

.map {

}

.owner {

}

.owner a {
  text-decoration: underline !important;
}

.review {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: rgba(255,255,255,0.2);
  padding: 6px 12px;
}

.review .review-content {
  flex-grow: 1;
  padding: 0 24px;

}

.review-content p {

}

li {

}

.review p {
  margin: 0;
  line-height: 1.4;
}






