<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query", placeholder="What are you looking for?"/>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>
<ul class="results">
    <li>Test</li>
</ul>
<div class="ContainerA ContainerAa ConainerAatext">
  <h2> Et si vous pouviez jouer juste à côté de chez vous ?  </h2>
</div>
