<div class="container">
  <%= simple_form_for [@game, reservation] do |f| %>
    <%= f.input :start_date, placeholder: "Choose your date", label: "When would you like to rent ?", as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Back to games list", games_path %>
</div>
